/*-- scss:defaults --*/
* {
  font-family: "Rosarivo", serif !important;
}

// colors
$body-bg: #000000;
$font-color: #ffffff;
$dark-bg-text-color: #fff;
$presentation-heading-color: #ffffff;

/*-- scss:rules --*/

.reveal .slide-logo {
  max-height: 10% !important;
}
